In [1]:
import pandas as pd

In [ ]:
'''  What to do:
1. Imbalance dataset first then followed by balancing
2. Add feature engineering to calculate the correlation amongs all features
2. add confusion matrix
3. add result analysis
4. add other method such as random forest, naive bayes, neural network(prevent overfitting).
5.
'''

In [2]:
data = pd.read_parquet("yellow_tripdata_2023-01.parquet")

In [3]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [4]:
def tip_category(value):
    if value <= 0:
        return 0
    else:
        return 1

data['tip_category'] = data['tip_amount'].map(tip_category)
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,tip_category
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,0
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,1
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,1
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,0
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,1

In [5]:
data = data[['passenger_count', 'trip_distance', 'payment_type', 'fare_amount', 'total_amount', 'congestion_surcharge', 'airport_fee', 'tip_category']]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 8 columns):
 #   Column                Dtype
---  ------                -----
 0   passenger_count       float64
 1   trip_distance         float64
 2   payment_type          int64
 3   fare_amount           float64
 4   total_amount          float64
 5   congestion_surcharge  float64
 6   airport_fee           float64
 7   tip_category          int64
dtypes: float64(6), int64(2)
memory usage: 187.2 MB

In [7]:
data.isnull().sum()

passenger_count         71743
trip_distance               0
payment_type                0
fare_amount                 0
total_amount                0
congestion_surcharge    71743
airport_fee             71743
tip_category                0
dtype: int64

In [8]:
# Check the location of null
check_null = pd.isnull(data["passenger_count"])
missing_data = data[check_null]
print(missing_data)

         passenger_count  trip_distance  payment_type  fare_amount  \
2995023              NaN           0.00             0        20.13
2995024              NaN           0.00             0        12.00
2995025              NaN           0.86             0        12.80
2995026              NaN           5.36             0        24.51
2995027              NaN           6.03             0        32.30
...                  ...            ...           ...          ...
3066761              NaN           3.05             0        15.80
3066762              NaN           5.80             0        22.43
3066763              NaN           4.67             0        17.61
3066764              NaN           3.15             0        18.15
3066765              NaN           2.85             0        15.97

         total_amount  congestion_surcharge  airport_fee  tip_category
2995023         24.13                   NaN          NaN             0
2995024         21.55                   NaN          NaN             1
2995025         16.44                   NaN          NaN             1
2995026         32.79                   NaN          NaN             1
2995027         43.56                   NaN          NaN             1
...               ...                   ...          ...           ...
3066761         23.76                   NaN          NaN             1
3066762         29.07                   NaN          NaN             1
3066763         26.93                   NaN          NaN             1
3066764         26.58                   NaN          NaN             1
3066765         21.97                   NaN          NaN             1

[71743 rows x 8 columns]

In [9]:
data = data.dropna()

In [10]:
len(data)

2995023

In [11]:
data.head()

,passenger_count,trip_distance,payment_type,fare_amount,total_amount,congestion_surcharge,airport_fee,tip_category
0,1.0,0.97,2,9.3,14.30,2.5,0.00,0
1,1.0,1.10,1,7.9,16.90,2.5,0.00,1
2,1.0,2.51,1,14.9,34.90,2.5,0.00,1
3,0.0,1.90,1,12.1,20.85,0.0,1.25,0
4,1.0,1.43,1,11.4,19.68,2.5,0.00,1

In [12]:
data.isnull().sum()

passenger_count         0
trip_distance           0
payment_type            0
fare_amount             0
total_amount            0
congestion_surcharge    0
airport_fee             0
tip_category            0
dtype: int64

In [13]:
# balancing tip_category column
data.tip_category.value_counts()

tip_category
1    2309055
0     685968
Name: count, dtype: int64

In [14]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from collections import Counter

In [15]:
target = data['tip_category']
data_final = data.drop('tip_category', axis = 1)

In [16]:
smote = SMOTE(random_state=42)
X_resampled_smote, y_resampled_smote = smote.fit_resample(data_final, target)
print(f"Resampled dataset shape (SMOTE): {Counter(y_resampled_smote)}")

Resampled dataset shape (SMOTE): Counter({0: 2309055, 1: 2309055})

In [17]:
y_resampled_smote.value_counts()

tip_category
0    2309055
1    2309055
Name: count, dtype: int64

In [18]:
X_resampled_smote.head()

,passenger_count,trip_distance,payment_type,fare_amount,total_amount,congestion_surcharge,airport_fee
0,1.0,0.97,2,9.3,14.30,2.5,0.00
1,1.0,1.10,1,7.9,16.90,2.5,0.00
2,1.0,2.51,1,14.9,34.90,2.5,0.00
3,0.0,1.90,1,12.1,20.85,0.0,1.25
4,1.0,1.43,1,11.4,19.68,2.5,0.00

In [20]:
data_yellow_january_2023 = X_resampled_smote
data_yellow_january_2023['tip_no_tip'] = y_resampled_smote
data_yellow_january_2023.to_parquet("data_yellow_january_2023.parquet")

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [14]:
#target = data['tip_category']
#data_final = data.drop('tip_category', axis = 1) # or try data.drop('tip_category', axis = 1, inplace = True)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X_resampled_smote,y_resampled_smote,test_size=0.2, random_state=1)

In [ ]:
# It is hard to use SVM for large dataset
#from sklearn.svm import SVC
#model = SVC()
#model.fit(X_train,y_train)
#model.score(X_test,y_test)

In [23]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=4)
knn.fit(X_train,y_train)
knn.score(X_test,y_test)

0.9989833503316292

In [24]:
# Use logistic regression
from sklearn import linear_model
logistic_model = linear_model.LogisticRegression()
logistic_model.fit(X_train,y_train)
logistic_model.score(X_test,y_test)

0.9999880903659722