In [59]:
import polars as pl
pl.show_versions()

--------Version info---------
Polars:              1.32.3
Index type:          UInt32
Platform:            Windows-10-10.0.19045-SP0
Python:              3.12.11 | packaged by Anaconda, Inc. | (main, Jun  5 2025, 12:58:53) [MSC v.1929 64 bit (AMD64)]
LTS CPU:             False

----Optional dependencies----
Azure CLI            <not installed>
adbc_driver_manager  1.7.0
altair               5.5.0
azure.identity       <not installed>
boto3                <not installed>
cloudpickle          <not installed>
connectorx           <not installed>
deltalake            <not installed>
fastexcel            <not installed>
fsspec               2025.7.0
gevent               <not installed>
google.auth          <not installed>
great_tables         <not installed>
matplotlib           3.10.5
numpy                2.3.2
openpyxl             <not installed>
pandas               2.3.2
polars_cloud         <not installed>
pyarrow              21.0.0
pydantic             <not installed>
pyiceberg            <not installed>
sqlalchemy           2.0.43
torch                <not installed>
xlsx2csv             <not installed>
xlsxwriter           <not installed>

In [2]:
series = pl.Series("age", [24,20,55,44,77,16])
series

shape: (6,)
Series: 'age' [i64]
[
	24
	20
	55
	44
	77
	16
]

In [3]:
series.max()

77

In [4]:
series.min()

16

In [5]:
series.sum()

236

In [6]:
series.sort()

shape: (6,)
Series: 'age' [i64]
[
	16
	20
	24
	44
	55
	77
]

In [7]:
series.sort(descending=True)

shape: (6,)
Series: 'age' [i64]
[
	77
	55
	44
	24
	20
	16
]

In [8]:
series.to_pandas()

0    24
1    20
2    55
3    44
4    77
5    16
Name: age, dtype: int64

In [9]:
from datetime import date

df = pl.DataFrame({
    "Employee ID": [1,2,3,4,5],
    "Name": ["Alice","Bob","Charlie","David","Eve"],
    "Age": [29, 34, 31, 28, 42],
    "Department": ["HR", "Engineering", "Finance", "HR", "Finance"],
    "Salary": [50000.0, 75000.0, 60000.0, 58000.0, 85000.0],
    "Start Date": [date(2023,5,21), date(2019,8,14), date(2021,1,10), date(2018,11,3), date(2022,6,27)]
})

In [10]:
df

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [11]:
df.head(2)

shape: (2, 6)
┌─────────────┬───────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name  ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---   ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str   ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═══════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob   ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
└─────────────┴───────┴─────┴─────────────┴─────────┴────────────┘

In [12]:
df.tail(2)

shape: (2, 6)
┌─────────────┬───────┬─────┬────────────┬─────────┬────────────┐
│ Employee ID ┆ Name  ┆ Age ┆ Department ┆ Salary  ┆ Start Date │
│ ---         ┆ ---   ┆ --- ┆ ---        ┆ ---     ┆ ---        │
│ i64         ┆ str   ┆ i64 ┆ str        ┆ f64     ┆ date       │
╞═════════════╪═══════╪═════╪════════════╪═════════╪════════════╡
│ 4           ┆ David ┆ 28  ┆ HR         ┆ 58000.0 ┆ 2018-11-03 │
│ 5           ┆ Eve   ┆ 42  ┆ Finance    ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴───────┴─────┴────────────┴─────────┴────────────┘

In [13]:
df.describe()

shape: (9, 7)
┌────────────┬─────────────┬───────┬──────────┬─────────────┬──────────────┬─────────────────────┐
│ statistic  ┆ Employee ID ┆ Name  ┆ Age      ┆ Department  ┆ Salary       ┆ Start Date          │
│ ---        ┆ ---         ┆ ---   ┆ ---      ┆ ---         ┆ ---          ┆ ---                 │
│ str        ┆ f64         ┆ str   ┆ f64      ┆ str         ┆ f64          ┆ str                 │
╞════════════╪═════════════╪═══════╪══════════╪═════════════╪══════════════╪═════════════════════╡
│ count      ┆ 5.0         ┆ 5     ┆ 5.0      ┆ 5           ┆ 5.0          ┆ 5                   │
│ null_count ┆ 0.0         ┆ 0     ┆ 0.0      ┆ 0           ┆ 0.0          ┆ 0                   │
│ mean       ┆ 3.0         ┆ null  ┆ 32.8     ┆ null        ┆ 65600.0      ┆ 2021-01-26 00:00:00 │
│ std        ┆ 1.581139    ┆ null  ┆ 5.630275 ┆ null        ┆ 14117.365193 ┆ null                │
│ min        ┆ 1.0         ┆ Alice ┆ 28.0     ┆ Engineering ┆ 50000.0      ┆ 2018-11-03          │
│ 25%        ┆ 2.0         ┆ null  ┆ 29.0     ┆ null        ┆ 58000.0      ┆ 2019-08-14          │
│ 50%        ┆ 3.0         ┆ null  ┆ 31.0     ┆ null        ┆ 60000.0      ┆ 2021-01-10          │
│ 75%        ┆ 4.0         ┆ null  ┆ 34.0     ┆ null        ┆ 75000.0      ┆ 2022-06-27          │
│ max        ┆ 5.0         ┆ Eve   ┆ 42.0     ┆ HR          ┆ 85000.0      ┆ 2023-05-21          │
└────────────┴─────────────┴───────┴──────────┴─────────────┴──────────────┴─────────────────────┘

In [14]:
df_selected = df.select(["Name","Age"])
df_selected

shape: (5, 2)
┌─────────┬─────┐
│ Name    ┆ Age │
│ ---     ┆ --- │
│ str     ┆ i64 │
╞═════════╪═════╡
│ Alice   ┆ 29  │
│ Bob     ┆ 34  │
│ Charlie ┆ 31  │
│ David   ┆ 28  │
│ Eve     ┆ 42  │
└─────────┴─────┘

In [15]:
df['Name', 'Salary']

shape: (5, 2)
┌─────────┬─────────┐
│ Name    ┆ Salary  │
│ ---     ┆ ---     │
│ str     ┆ f64     │
╞═════════╪═════════╡
│ Alice   ┆ 50000.0 │
│ Bob     ┆ 75000.0 │
│ Charlie ┆ 60000.0 │
│ David   ┆ 58000.0 │
│ Eve     ┆ 85000.0 │
└─────────┴─────────┘

In [16]:
df.filter(pl.col("Age") >= 30)

shape: (3, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [17]:
df.filter(pl.col("Department") == 'Finance')

shape: (2, 6)
┌─────────────┬─────────┬─────┬────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---        ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str        ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪════════════╪═════════╪════════════╡
│ 3           ┆ Charlie ┆ 31  ┆ Finance    ┆ 60000.0 ┆ 2021-01-10 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance    ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴────────────┴─────────┴────────────┘

In [18]:
df.filter(pl.col("Department") == 'Finance', pl.col("Salary") > 60000)

shape: (1, 6)
┌─────────────┬──────┬─────┬────────────┬─────────┬────────────┐
│ Employee ID ┆ Name ┆ Age ┆ Department ┆ Salary  ┆ Start Date │
│ ---         ┆ ---  ┆ --- ┆ ---        ┆ ---     ┆ ---        │
│ i64         ┆ str  ┆ i64 ┆ str        ┆ f64     ┆ date       │
╞═════════════╪══════╪═════╪════════════╪═════════╪════════════╡
│ 5           ┆ Eve  ┆ 42  ┆ Finance    ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴──────┴─────┴────────────┴─────────┴────────────┘

In [19]:
df.filter(pl.col("Department") == 'Finance', pl.col("Start Date") > date(2022,1,1))

shape: (1, 6)
┌─────────────┬──────┬─────┬────────────┬─────────┬────────────┐
│ Employee ID ┆ Name ┆ Age ┆ Department ┆ Salary  ┆ Start Date │
│ ---         ┆ ---  ┆ --- ┆ ---        ┆ ---     ┆ ---        │
│ i64         ┆ str  ┆ i64 ┆ str        ┆ f64     ┆ date       │
╞═════════════╪══════╪═════╪════════════╪═════════╪════════════╡
│ 5           ┆ Eve  ┆ 42  ┆ Finance    ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴──────┴─────┴────────────┴─────────┴────────────┘

In [20]:
df.filter(pl.col("Start Date") > date(2022,1,1), pl.col("Start Date") < date(2023,1,1))

shape: (1, 6)
┌─────────────┬──────┬─────┬────────────┬─────────┬────────────┐
│ Employee ID ┆ Name ┆ Age ┆ Department ┆ Salary  ┆ Start Date │
│ ---         ┆ ---  ┆ --- ┆ ---        ┆ ---     ┆ ---        │
│ i64         ┆ str  ┆ i64 ┆ str        ┆ f64     ┆ date       │
╞═════════════╪══════╪═════╪════════════╪═════════╪════════════╡
│ 5           ┆ Eve  ┆ 42  ┆ Finance    ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴──────┴─────┴────────────┴─────────┴────────────┘

In [21]:
df.filter((pl.col("Start Date") > date(2022,1,1)) & (pl.col("Start Date") < date(2023,1,1)))

shape: (1, 6)
┌─────────────┬──────┬─────┬────────────┬─────────┬────────────┐
│ Employee ID ┆ Name ┆ Age ┆ Department ┆ Salary  ┆ Start Date │
│ ---         ┆ ---  ┆ --- ┆ ---        ┆ ---     ┆ ---        │
│ i64         ┆ str  ┆ i64 ┆ str        ┆ f64     ┆ date       │
╞═════════════╪══════╪═════╪════════════╪═════════╪════════════╡
│ 5           ┆ Eve  ┆ 42  ┆ Finance    ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴──────┴─────┴────────────┴─────────┴────────────┘

In [22]:
df.with_columns((pl.col('Salary')/12).alias('Monthly Earnings'))

shape: (5, 7)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┬──────────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date ┆ Monthly Earnings │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        ┆ ---              │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       ┆ f64              │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╪══════════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 ┆ 4166.666667      │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 ┆ 6250.0           │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 ┆ 5000.0           │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 ┆ 4833.333333      │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 ┆ 7083.333333      │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┴──────────────────┘

In [23]:
df.with_columns((pl.col('Salary')/12).round(2).alias('Monthly Earnings'))

shape: (5, 7)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┬──────────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date ┆ Monthly Earnings │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        ┆ ---              │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       ┆ f64              │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╪══════════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 ┆ 4166.67          │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 ┆ 6250.0           │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 ┆ 5000.0           │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 ┆ 4833.33          │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 ┆ 7083.33          │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┴──────────────────┘

In [24]:
df = df.with_columns((pl.col('Salary')/12).round(2).alias('Monthly Earnings'))

In [25]:
df

shape: (5, 7)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┬──────────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date ┆ Monthly Earnings │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        ┆ ---              │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       ┆ f64              │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╪══════════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 ┆ 4166.67          │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 ┆ 6250.0           │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 ┆ 5000.0           │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 ┆ 4833.33          │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 ┆ 7083.33          │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┴──────────────────┘

In [26]:
df = df.drop('Monthly Earnings')
df

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [27]:
df.sort("Salary")

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [28]:
df.sort("Salary", descending = True)

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 │
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [29]:
df.sort("Start Date", descending = True)

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [30]:
df['Salary'].max()

85000.0

In [31]:
df['Age'].median()

31.0

In [32]:
df.filter(pl.col('Age') > 30)['Salary'].max()

85000.0

In [33]:
df.filter(pl.col('Age') > 30)['Salary'].min()

60000.0

In [34]:
df.group_by('Department').agg([
    pl.col('Salary').mean().alias('Average Salary'),
    pl.col('Age').min().alias("Youngest Age")
])

shape: (3, 3)
┌─────────────┬────────────────┬──────────────┐
│ Department  ┆ Average Salary ┆ Youngest Age │
│ ---         ┆ ---            ┆ ---          │
│ str         ┆ f64            ┆ i64          │
╞═════════════╪════════════════╪══════════════╡
│ HR          ┆ 54000.0        ┆ 28           │
│ Finance     ┆ 72500.0        ┆ 31           │
│ Engineering ┆ 75000.0        ┆ 34           │
└─────────────┴────────────────┴──────────────┘

In [35]:
df = pl.DataFrame({
    "Employee ID": [1,2,3,4,5],
    "Name": ["Alice","Bob","Charlie","David","Eve"],
    "Age": [29, 34, 31, 28, 42],
    "Department": ["HR", "Engineering", "Finance", "HR", "Finance"],
    "Salary": [50000.0, 75000.0, None, None, 85000.0],
    "Start Date": [date(2023,5,21), date(2019,8,14), date(2021,1,10), date(2018,11,3), date(2022,6,27)]
})

In [36]:
df

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ null    ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ null    ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [37]:
df.select(pl.col('Salary').is_null())

shape: (5, 1)
┌────────┐
│ Salary │
│ ---    │
│ bool   │
╞════════╡
│ false  │
│ false  │
│ true   │
│ true   │
│ false  │
└────────┘

In [38]:
df.filter(pl.col('Salary').is_null())

shape: (2, 6)
┌─────────────┬─────────┬─────┬────────────┬────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department ┆ Salary ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---        ┆ ---    ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str        ┆ f64    ┆ date       │
╞═════════════╪═════════╪═════╪════════════╪════════╪════════════╡
│ 3           ┆ Charlie ┆ 31  ┆ Finance    ┆ null   ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR         ┆ null   ┆ 2018-11-03 │
└─────────────┴─────────┴─────┴────────────┴────────┴────────────┘

In [39]:
df.filter(pl.col('Salary').is_not_null())

shape: (3, 6)
┌─────────────┬───────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name  ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---   ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str   ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═══════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob   ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 5           ┆ Eve   ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴───────┴─────┴─────────────┴─────────┴────────────┘

In [40]:
df.with_columns(pl.col('Salary').fill_null(pl.lit(50)))

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 50.0    ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 50.0    ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [41]:
df.with_columns(pl.col('Salary').fill_null(strategy = 'forward'))

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 75000.0 ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 75000.0 ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [42]:
df.with_columns(pl.col('Salary').fill_null(strategy = 'backward'))

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 85000.0 ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 85000.0 ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [43]:
df.with_columns(pl.col('Salary').interpolate())

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬──────────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary       ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---          ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64          ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪══════════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0      ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0      ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 78333.333333 ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 81666.666667 ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0      ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴──────────────┴────────────┘

In [44]:
df.write_csv('employee.csv')

In [45]:
df.write_json('employee.json')

In [46]:
df.write_parquet('employee.parquet')

In [47]:
df2 = pl.read_csv("employee.csv")
df2

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ str        │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ null    ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ null    ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [54]:
df1 = pl.DataFrame({
    "Employee ID": [1,2,3,4,5],
    "Name": ["Alice","Bob","Charlie","David","Eve"],
    "Age": [29, 34, 31, 28, 42],
    "Department": ["HR", "Engineering", "Finance", "HR", "Finance"],
    "Salary": [50000.0, 75000.0, 60000, 75000, 85000.0],
    "Start Date": [date(2023,5,21), date(2019,8,14), date(2021,1,10), date(2018,11,3), date(2022,6,27)]
})

In [55]:
df1['Age'].plot.bar()

alt.Chart(...)

In [58]:
df1.plot.scatter(x='Age', y='Salary')

alt.Chart(...)