In [1]:
import polars as pl
pl.show_versions()

--------Version info---------
Polars:              1.32.3
Index type:          UInt32
Platform:            Windows-10-10.0.19045-SP0
Python:              3.12.11 | packaged by Anaconda, Inc. | (main, Jun  5 2025, 12:58:53) [MSC v.1929 64 bit (AMD64)]
LTS CPU:             False

----Optional dependencies----
Azure CLI            <not installed>
adbc_driver_manager  1.7.0
altair               <not installed>
azure.identity       <not installed>
boto3                <not installed>
cloudpickle          <not installed>
connectorx           <not installed>
deltalake            <not installed>
fastexcel            <not installed>
fsspec               2025.7.0
gevent               <not installed>
google.auth          <not installed>
great_tables         <not installed>
matplotlib           3.10.5
numpy                2.3.2
openpyxl             <not installed>
pandas               2.3.2
polars_cloud         <not installed>
pyarrow              21.0.0
pydantic             <not installed>
pyiceberg            <not installed>
sqlalchemy           2.0.43
torch                <not installed>
xlsx2csv             <not installed>
xlsxwriter           <not installed>

In [3]:
series = pl.Series("age", [24,20,55,44,77,16])
series

shape: (6,)
Series: 'age' [i64]
[
	24
	20
	55
	44
	77
	16
]

In [4]:
series.max()

77

In [5]:
series.min()

16

In [6]:
series.sum()

236

In [7]:
series.sort()

shape: (6,)
Series: 'age' [i64]
[
	16
	20
	24
	44
	55
	77
]

In [8]:
series.sort(descending=True)

shape: (6,)
Series: 'age' [i64]
[
	77
	55
	44
	24
	20
	16
]

In [9]:
series.to_pandas()

0    24
1    20
2    55
3    44
4    77
5    16
Name: age, dtype: int64

In [10]:
from datetime import date

df = pl.DataFrame({
    "Employee ID": [1,2,3,4,5],
    "Name": ["Alice","Bob","Charlie","David","Eve"],
    "Age": [29, 34, 31, 28, 42],
    "Department": ["HR", "Engineering", "Finance", "HR", "Finance"],
    "Salary": [50000.0, 75000.0, 60000.0, 58000.0, 85000.0],
    "Start Date": [date(2023,5,21), date(2019,8,14), date(2021,1,10), date(2018,11,3), date(2022,6,27)]
})

In [11]:
df

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [12]:
df.head(2)

shape: (2, 6)
┌─────────────┬───────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name  ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---   ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str   ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═══════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob   ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
└─────────────┴───────┴─────┴─────────────┴─────────┴────────────┘

In [13]:
df.tail(2)

shape: (2, 6)
┌─────────────┬───────┬─────┬────────────┬─────────┬────────────┐
│ Employee ID ┆ Name  ┆ Age ┆ Department ┆ Salary  ┆ Start Date │
│ ---         ┆ ---   ┆ --- ┆ ---        ┆ ---     ┆ ---        │
│ i64         ┆ str   ┆ i64 ┆ str        ┆ f64     ┆ date       │
╞═════════════╪═══════╪═════╪════════════╪═════════╪════════════╡
│ 4           ┆ David ┆ 28  ┆ HR         ┆ 58000.0 ┆ 2018-11-03 │
│ 5           ┆ Eve   ┆ 42  ┆ Finance    ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴───────┴─────┴────────────┴─────────┴────────────┘

In [14]:
df.describe()

shape: (9, 7)
┌────────────┬─────────────┬───────┬──────────┬─────────────┬──────────────┬─────────────────────┐
│ statistic  ┆ Employee ID ┆ Name  ┆ Age      ┆ Department  ┆ Salary       ┆ Start Date          │
│ ---        ┆ ---         ┆ ---   ┆ ---      ┆ ---         ┆ ---          ┆ ---                 │
│ str        ┆ f64         ┆ str   ┆ f64      ┆ str         ┆ f64          ┆ str                 │
╞════════════╪═════════════╪═══════╪══════════╪═════════════╪══════════════╪═════════════════════╡
│ count      ┆ 5.0         ┆ 5     ┆ 5.0      ┆ 5           ┆ 5.0          ┆ 5                   │
│ null_count ┆ 0.0         ┆ 0     ┆ 0.0      ┆ 0           ┆ 0.0          ┆ 0                   │
│ mean       ┆ 3.0         ┆ null  ┆ 32.8     ┆ null        ┆ 65600.0      ┆ 2021-01-26 00:00:00 │
│ std        ┆ 1.581139    ┆ null  ┆ 5.630275 ┆ null        ┆ 14117.365193 ┆ null                │
│ min        ┆ 1.0         ┆ Alice ┆ 28.0     ┆ Engineering ┆ 50000.0      ┆ 2018-11-03          │
│ 25%        ┆ 2.0         ┆ null  ┆ 29.0     ┆ null        ┆ 58000.0      ┆ 2019-08-14          │
│ 50%        ┆ 3.0         ┆ null  ┆ 31.0     ┆ null        ┆ 60000.0      ┆ 2021-01-10          │
│ 75%        ┆ 4.0         ┆ null  ┆ 34.0     ┆ null        ┆ 75000.0      ┆ 2022-06-27          │
│ max        ┆ 5.0         ┆ Eve   ┆ 42.0     ┆ HR          ┆ 85000.0      ┆ 2023-05-21          │
└────────────┴─────────────┴───────┴──────────┴─────────────┴──────────────┴─────────────────────┘

In [15]:
df_selected = df.select(["Name","Age"])
df_selected

shape: (5, 2)
┌─────────┬─────┐
│ Name    ┆ Age │
│ ---     ┆ --- │
│ str     ┆ i64 │
╞═════════╪═════╡
│ Alice   ┆ 29  │
│ Bob     ┆ 34  │
│ Charlie ┆ 31  │
│ David   ┆ 28  │
│ Eve     ┆ 42  │
└─────────┴─────┘

In [17]:
df['Name', 'Salary']

shape: (5, 2)
┌─────────┬─────────┐
│ Name    ┆ Salary  │
│ ---     ┆ ---     │
│ str     ┆ f64     │
╞═════════╪═════════╡
│ Alice   ┆ 50000.0 │
│ Bob     ┆ 75000.0 │
│ Charlie ┆ 60000.0 │
│ David   ┆ 58000.0 │
│ Eve     ┆ 85000.0 │
└─────────┴─────────┘

In [18]:
df.filter(pl.col("Age") >= 30)

shape: (3, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [19]:
df.filter(pl.col("Department") == 'Finance')

shape: (2, 6)
┌─────────────┬─────────┬─────┬────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---        ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str        ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪════════════╪═════════╪════════════╡
│ 3           ┆ Charlie ┆ 31  ┆ Finance    ┆ 60000.0 ┆ 2021-01-10 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance    ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴────────────┴─────────┴────────────┘

In [20]:
df.filter(pl.col("Department") == 'Finance', pl.col("Salary") > 60000)

shape: (1, 6)
┌─────────────┬──────┬─────┬────────────┬─────────┬────────────┐
│ Employee ID ┆ Name ┆ Age ┆ Department ┆ Salary  ┆ Start Date │
│ ---         ┆ ---  ┆ --- ┆ ---        ┆ ---     ┆ ---        │
│ i64         ┆ str  ┆ i64 ┆ str        ┆ f64     ┆ date       │
╞═════════════╪══════╪═════╪════════════╪═════════╪════════════╡
│ 5           ┆ Eve  ┆ 42  ┆ Finance    ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴──────┴─────┴────────────┴─────────┴────────────┘

In [25]:
df.filter(pl.col("Department") == 'Finance', pl.col("Start Date") > date(2022,1,1))

shape: (1, 6)
┌─────────────┬──────┬─────┬────────────┬─────────┬────────────┐
│ Employee ID ┆ Name ┆ Age ┆ Department ┆ Salary  ┆ Start Date │
│ ---         ┆ ---  ┆ --- ┆ ---        ┆ ---     ┆ ---        │
│ i64         ┆ str  ┆ i64 ┆ str        ┆ f64     ┆ date       │
╞═════════════╪══════╪═════╪════════════╪═════════╪════════════╡
│ 5           ┆ Eve  ┆ 42  ┆ Finance    ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴──────┴─────┴────────────┴─────────┴────────────┘

In [26]:
df.filter(pl.col("Start Date") > date(2022,1,1), pl.col("Start Date") < date(2023,1,1))

shape: (1, 6)
┌─────────────┬──────┬─────┬────────────┬─────────┬────────────┐
│ Employee ID ┆ Name ┆ Age ┆ Department ┆ Salary  ┆ Start Date │
│ ---         ┆ ---  ┆ --- ┆ ---        ┆ ---     ┆ ---        │
│ i64         ┆ str  ┆ i64 ┆ str        ┆ f64     ┆ date       │
╞═════════════╪══════╪═════╪════════════╪═════════╪════════════╡
│ 5           ┆ Eve  ┆ 42  ┆ Finance    ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴──────┴─────┴────────────┴─────────┴────────────┘

In [27]:
df.filter((pl.col("Start Date") > date(2022,1,1)) & (pl.col("Start Date") < date(2023,1,1)))

shape: (1, 6)
┌─────────────┬──────┬─────┬────────────┬─────────┬────────────┐
│ Employee ID ┆ Name ┆ Age ┆ Department ┆ Salary  ┆ Start Date │
│ ---         ┆ ---  ┆ --- ┆ ---        ┆ ---     ┆ ---        │
│ i64         ┆ str  ┆ i64 ┆ str        ┆ f64     ┆ date       │
╞═════════════╪══════╪═════╪════════════╪═════════╪════════════╡
│ 5           ┆ Eve  ┆ 42  ┆ Finance    ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴──────┴─────┴────────────┴─────────┴────────────┘